%h1 Forms
= link_to 'new', new_form_path, class: 'btn btn-secondary', remote: true, data: { target: '#modal', toggle: 'modal' }
%table.table
  %thead
    %tr
      %th #
      %th Name
      %th Slug
      %th Actions
  %tbody
    - @forms.each.with_index(1) do |form, index|
      %tr
        %td= index
        %td= form.name
        %td= form.slug
        %td= link_to 'edit', edit_form_path(form)
